Repository Tatsh/winprefs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-check-lock, fix-formatting-markdown

yarn-check-lock:
  entry: yarn install --check-cache --immutable
  language: system
  name: check yarn.lock is up-to-date
  pass_filenames: false

fix-formatting-markdown:
  entry: yarn markdownlint-cli2 --fix '#node_modules'
  language: system
  name: check Markdown files are formatted

WinPrefs: fix version
  src/WinPrefs.psd1
Due: none

cruft: update
  .cz.json
  .pre-commit-config.yaml
  .vscode/c_cpp_properties.json
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .wiswa.jsonnet
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  CITATION.cff
  CONTRIBUTING.md
  package.json
Due: yarn-check-lock, fix-formatting-markdown

.github/workflows/publish-winget: create
  .github/workflows/publish-winget.yml
  .vscode/dictionary.txt
Due: none

.github/workflows/publish-gallery: create
  .github/workflows/publish-gallery.yml
Due: none

Use PROGRAMDATA
  .vscode/dictionary.txt
  CMakeLists.txt
Due: none

NSIS enhancements
  CMakeLists.txt
Due: none

cruft: update
  .github/workflows/publish-winget.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  CITATION.cff
  README.md
  package.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

workflows/cmake: attestation, upload artifacts
  .github/workflows/cmake.yml
Due: none

cmake: set version info in installer
  CMakeLists.txt
Due: none

project: remove cmake-format from check-formatting
  .wiswa.jsonnet
  package.json
Due: yarn-check-lock

cruft: update
  .clang-format
  .claude/agents/badge-sync.md
  .claude/agents/changelog.md
  .claude/agents/copy-editor.md
  .claude/agents/markdownlint-fixer.md
  .claude/agents/qa-fixer.md
  .claude/agents/regen.md
  .claude/agents/release.md
  .claude/agents/wiswa-sync.md
  .claude/agents/workflow-shellcheck.md
  .claude/settings.local.json.dist
  .claude/skills/ci/SKILL.md
  .claude/skills/regen/SKILL.md
  .cursor/rules/json-yaml.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/toml-ini.mdc
  .github/instructions/general.instructions.md
  .github/workflows/qa.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/c_cpp_properties.json
  .vscode/dictionary.txt
  .vscode/settings.json
  .wiswa.jsonnet
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  AGENTS.md
  CITATION.cff
  CLAUDE.md
  CMakePresets.json
  LICENSE.txt
  README.md
  package.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .claude/agents/wiswa-sync.md
  .claude/skills/ci/SKILL.md
  .github/workflows/qa.yml
  .wiswa.jsonnet
  README.md
  package.json
Due: yarn-check-lock, fix-formatting-markdown

claude: add c-expert agent and update dictionary
  .claude/agents/c-expert.md
  .vscode/dictionary.txt
Due: fix-formatting-markdown

claude/agents: add csharp-expert and cmake-expert agents
  .claude/agents/cmake-expert.md
  .claude/agents/csharp-expert.md
Due: fix-formatting-markdown

dictionary: update
  .vscode/dictionary.txt
Due: none

workflows/qa: skip clang-format when no C/C++ files changed
  .github/workflows/qa.yml
Due: none

workflows/cmake: only trigger on relevant file changes
  .github/workflows/cmake.yml
Due: none

workflows/*: only trigger on relevant file changes
  .github/workflows/codeql.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  .vscode/dictionary.txt
Due: none

readme: list accepted format strings for -Format argument
  README.md
Due: fix-formatting-markdown

cruft: update
  .claude/agents/wiswa-sync.md
  .claude/skills/ci/SKILL.md
  CITATION.cff
  package.json
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .claude/agents/release.md
  .claude/agents/wiswa-sync.md
  .pre-commit-config.yaml
  .prettierignore
  CITATION.cff
  package.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  CITATION.cff
  package.json
  yarn.lock
Due: yarn-check-lock

workflows/*: adapt to bpmdetect-style for windows-only targeting
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/pages.yml
  .github/workflows/publish-gallery.yml
  .github/workflows/publish-msys2.yml
  .github/workflows/publish-winget.yml
  .github/workflows/qa.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
Due: fix-formatting-markdown

workflows/release: resolve release tag from head SHA
  .github/workflows/release.yml
Due: none

bump: v0.4.0 → v0.4.1
  .wiswa.jsonnet
  CHANGELOG.md
  CITATION.cff
  CMakeLists.txt
  README.md
  man/winprefs.1
  package.json
  src/WinPrefs.psd1
  vcpkg.json
Due: yarn-check-lock, fix-formatting-markdown

workflows/cmake: publish Debug and Release across x64, arm64, and i686
  .github/workflows/cmake.yml
  .vscode/dictionary.txt
Due: none

project: derive CPACK_SYSTEM_NAME from arch and drop redundant rename steps
  .github/workflows/cmake.yml
  .vscode/dictionary.txt
  CMakeLists.txt
Due: none

workflows/release: dereference annotated tags in head SHA lookup
  .github/workflows/release.yml
Due: none

project: target Windows 2000 for 32-bit MinGW builds
  CHANGELOG.md
  CMakeLists.txt
Due: fix-formatting-markdown

workflows/publish-gallery: fix never-matching push-event gate
  .github/workflows/publish-gallery.yml
Due: none

workflows/publish-msys2: trigger on release published
  .github/workflows/publish-msys2.yml
Due: none

dependabot: add vcpkg and dotnet-sdk ecosystems
  .github/dependabot.yml
  .wiswa.jsonnet
Due: none

cmake-format: remove
  .cmake-format.yaml
Due: none

cruft: update
  .claude/agents/changelog.md
  .github/workflows/publish-winget.yml
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .yarnrc.yml
  CHANGELOG.md
  CITATION.cff
  package.json
  vcpkg-configuration.json
  vcpkg.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .claude/agents/badge-sync.md
  .claude/agents/changelog.md
  .claude/agents/copy-editor.md
  .claude/agents/markdownlint-fixer.md
  .claude/agents/qa-fixer.md
  .claude/agents/regen.md
  .claude/agents/release.md
  .claude/agents/wiswa-sync.md
  .claude/agents/workflow-shellcheck.md
  .claude/settings.json
  .github/dependabot.yml
  .gitignore
  .vscode/dictionary.txt
  .vscode/settings.json
  package.json
Due: yarn-check-lock, fix-formatting-markdown

Path conditions:
  yarn-check-lock: any of: ^package\.json$
  fix-formatting-markdown: any of: \.(md|markdown|mdown)$
