Repository Tatsh/winprefs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-check-lock, fix-formatting-markdown

yarn-check-lock:
  entry: yarn install --check-cache --immutable
  language: system
  name: check yarn.lock is up-to-date
  pass_filenames: false

fix-formatting-markdown:
  entry: yarn markdownlint-cli2 --fix '#node_modules'
  language: system
  name: check Markdown files are formatted

workflows/cmake: no more 32-bit MSYS2
  .github/workflows/cmake.yml
Due: none

tests: use -iquote for the native source directory
  .vscode/dictionary.txt
  native/tests/CMakeLists.txt
Due: none

cruft: update
  .clang-format
  .claude/agents/changelog.md
  .claude/rules/comments.md
  .claude/rules/general.md
  .claude/skills/ci/SKILL.md
  .claude/skills/make-release/SKILL.md
  .github/dependabot.yml
  .github/workflows/clang-format.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/publish-winget.yml
  .github/workflows/spelling.yml
  .github/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  AGENTS.md
  CHANGELOG.md
  CITATION.cff
  README.md
  package.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

workflows/*: pass zizmor audits
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/pages.yml
  .github/workflows/publish-gallery.yml
  .github/workflows/publish-msys2.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/zizmor.yml
Due: none

native: apply clang-format
  native/arg.h
  native/main.c
Due: none

workflows/tests: pin dotnet-coverage to 18.10.0
  .github/workflows/tests.yml
Due: none

build(deps): bump markdownlint-cli2 to 0.23.3 for smol-toml 1.8.0
  package.json
  yarn.lock
Due: yarn-check-lock

cruft: update
  .claude/agents/copy-editor.md
  .claude/rules/general.md
  .claude/rules/prose.md
  .claude/skills/make-release/SKILL.md
  .claude/skills/prose-lint/SKILL.md
  .github/workflows/clang-format.yml
  .github/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .wiswa.jsonnet
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  AGENTS.md
  CITATION.cff
  package.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

claude/skills/make-release: write working tree instead of worktree
  .claude/skills/make-release/SKILL.md
Due: fix-formatting-markdown

tests/wrappers: keep SECURITY_NT_AUTHORITY out of clang-format
  native/tests/wrappers.h
Due: none

workflows/*: check release binaries for debug runtime linkage
  .github/workflows/cmake.yml
  .github/workflows/publish-gallery.yml
  .vscode/dictionary.txt
Due: none

workflows/publish-gallery: publish only for a published release
  .github/workflows/publish-gallery.yml
Due: none

workflows/*: publish to WinGet and MSYS2 after Release publishes
  .github/workflows/publish-msys2.yml
  .github/workflows/publish-winget.yml
  .github/zizmor.yml
  .vscode/dictionary.txt
  .wiswa.jsonnet
Due: none

workflows/clang-format: run the clang-format version pinned in pre-commit
  .github/workflows/clang-format.yml
  .vscode/dictionary.txt
Due: none

workflows/spelling: run the locked cspell instead of cspell-action
  .github/workflows/spelling.yml
Due: none

workflows/*: pass the zizmor pedantic persona
  .github/workflows/clang-format.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/publish-msys2.yml
  .github/workflows/publish-winget.yml
  .github/workflows/spelling.yml
  .github/zizmor.yml
Due: none

workflows/*: fix zizmor pedantic findings in hand-maintained workflows
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/pages.yml
  .github/workflows/publish-gallery.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

workflows/publish-msys2: skip when MSYS2_TOKEN is not set
  .github/workflows/publish-msys2.yml
Due: none

cruft: update
  .github/workflows/clang-format.yml
  yarn.lock
Due: none

project: ignore the sbclaude virtual environment
  .gitignore
  .prettierignore
  .vscode/dictionary.txt
Due: none

project: update cspell to 10.3.5
  package.json
  yarn.lock
Due: yarn-check-lock

Path conditions:
  yarn-check-lock: any of: ^package\.json$
  fix-formatting-markdown: any of: \.(md|markdown|mdown)$
