Repository Tatsh/winprefs: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-check-lock, fix-formatting-markdown

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: '.vscode/dictionary.txt'
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.0
    hooks:
      - id: clang-format
        types_or: [c]
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--check, -c, .cmake-format]
      # - id: cmake-lint
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.19.0
    hooks:
      - id: cspell
  - hooks:
      - entry: 'yarn install --check-cache --immutable'
        files: "^package\\.json$"
        id: 'yarn-check-lock'
        language: 'system'
        name: 'check yarn.lock is up-to-date'
        pass_filenames: false
      - always_run: true
        entry: 'yarn install'
        id: 'yarn-install'
        language: 'system'
        name: 'ensure Node packages are installed for this branch'
        pass_filenames: false
        stages:
          - 'post-checkout'
          - 'post-merge'
      - entry: 'yarn prettier -w'
        exclude: '((requirements|robots).txt|Dockerfile.*|..*ignore|.(coveragerc|gitattributes)|.*.(csv|lock|resource|robot)|CODEOWNERS|py.typed)$'
        exclude_types:
          - 'binary'
          - 'dockerfile'
          - 'pyi'
          - 'python'
          - 'rst'
          - 'plain-text'
          - 'shell'
        id: 'fix-formatting-prettier'
        language: 'system'
        name: 'check files are formatted with Prettier'
      - entry: "yarn markdownlint-cli2 --fix '#node_modules'"
        id: 'fix-formatting-markdown'
        language: 'system'
        name: 'check Markdown files are formatted'
        types_or:
          - 'markdown'
      - entry: 'yarn check-spelling --no-must-find-files --no-summary'
        id: 'cspell'
        language: 'node'
        name: 'check spelling'
        types:
          - 'text'
    repo: local

native: fix man page path
  native/CMakeLists.txt
Due: none

readme: update
  README.md
Due: fix-formatting-markdown

CI: remove windows-2019
  .github/workflows/cmake.yml
Due: none

Switch to using actions for docs
  .cz.json
  .github/workflows/pages.yml
  post-bump.sh
Due: none

project: bump deps
  package.json
  yarn.lock
Due: yarn-check-lock

workflows/tests: enable ubsan
  .github/workflows/tests.yml
Due: none

changelog: update
  CHANGELOG.md
Due: fix-formatting-markdown

changelog: fix
  CHANGELOG.md
Due: fix-formatting-markdown

cruft: update
  .clang-format
  .cmake-format.yaml
  .cz.json
  .gitattributes
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/instructions/general.instructions.md
  .github/instructions/json-yaml.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/toml-ini.instructions.md
  .github/workflows/pages.yml
  .github/workflows/qa.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/c_cpp_properties.json
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  .wiswa.jsonnet
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  CITATION.cff
  CMakeLists.txt
  CMakePresets.json
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE.txt
  SECURITY.md
  _config.yml
  native/CMakeLists.txt
  native/reg_command.c
  native/registry.c
  package.json
  vcpkg-configuration.json
  vcpkg.json
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

project: remove references to winegcc
  CMakeLists.txt
  native/CMakeLists.txt
Due: none

cmake: remove completed todos
  CMakeLists.txt
Due: none

tests: add managed test code to build system
  .github/workflows/tests.yml
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  src/CMakeLists.txt
  src/LibPrefs.cs
  src/SavePreferences.cs
  tests/CMakeLists.txt
  tests/LibPrefsTest.cs
  tests/RegisterSavePreferencesScheduledTaskTest.cs
  tests/SavePreferencesTest.cs
  tests/UnregisterSavePreferenceScheduledTaskTest.cs
  tests/UnregisterSavePreferencesScheduledTaskTest.cs
Due: none

tests: add managed test code to build system
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .prettierignore
  CMakeLists.txt
  src/CMakeLists.txt
  src/RegisterSavePreferencesScheduledTask.cs
  src/SavePreferences.cs
  src/UnregisterSavePreferencesScheduledTask.cs
  src/WinPrefs.csproj
  src/WinPrefs.sln
  src/WriteRegCommands.cs
  tests/CMakeLists.txt
  tests/PowershellEmulator.cs
  tests/SavePreferencesTest.cs
  tests/WinPrefs.Tests.csproj
  tests/WriteRegCommandsTest.cs
Due: none

tests: add managed test code to build system
  .github/dependabot.yml
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/tests.yml
  .prettierignore
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  CMakeLists.txt
  src/CMakeLists.txt
  src/CopyWinprefsw.cs
  src/ICopyWinprefsw.cs
  src/IScheduledTaskManager.cs
  src/IUnsafeHandleUtil.cs
  src/LibPrefs.cs
  src/RegisterSavePreferencesScheduledTask.cs
  src/SavePreferences.cs
  src/ScheduledTaskManager.cs
  src/ScheduledTaskSuffix.cs
  src/UnregisterSavePreferencesScheduledTask.cs
  src/UnsafeHandleUtil.cs
  src/WinPrefs.csproj
  src/WinPrefs.psd1
  src/WinPrefs.sln
  src/WriteRegCommands.cs
  tests/CMakeLists.txt
  tests/LibPrefsTest.cs
  tests/PowershellEmulator.cs
  tests/RegisterSavePreferencesScheduledTaskTest.cs
  tests/SavePreferencesTest.cs
  tests/UnregisterSavePreferencesScheduledTaskTest.cs
  tests/WinPrefs.Tests.csproj
  tests/WriteRegCommandsTest.cs
Due: none

workflows/tests: adjustments to tests
  .github/workflows/tests.yml
  .vscode/dictionary.txt
Due: none

.vscode/dictionary: update
  .vscode/dictionary.txt
Due: none

workflows/tests: fix testing release build
  .github/workflows/tests.yml
  .vscode/dictionary.txt
Due: none

Bump version
  .gitignore
  .wiswa.jsonnet
  CITATION.cff
  CMakeLists.txt
  README.md
  package.json
  src/WinPrefs.psd1
  vcpkg.json
Due: yarn-check-lock, fix-formatting-markdown

publish-module: simplify
  publish-module.ps1
Due: none

workflows/cmake: install NSIS
  .github/workflows/cmake.yml
  .vscode/dictionary.txt
Due: none

git: quote SSH key when configuring git
  native/git.c
  native/git_branch.c
  native/tests/CMakeLists.txt
  native/tests/test_git_commit.c
  native/tests/wrappers.c
  native/tests/wrappers.h
Due: none

docs: update
  .vscode/dictionary.txt
  CHANGELOG.md
  README.md
Due: fix-formatting-markdown

Bump version
  .wiswa.jsonnet
  CHANGELOG.md
  CITATION.cff
  CMakeLists.txt
  README.md
  package.json
  src/WinPrefs.psd1
  vcpkg.json
Due: yarn-check-lock, fix-formatting-markdown

git: add extra check; fix ASAN issue
  native/git.c
Due: none

tests: fix
  native/git.c
  native/git_branch.c
  native/tests/test_git_commit.c
Due: none

tests: fix coverage
  native/git.c
  native/tests/test_git_commit.c
Due: none

workflows/cmake: disable package upload till next release
  .github/workflows/cmake.yml
Due: none

project: add custom filtering
  .github/workflows/cmake.yml
  .gitignore
  .vscode/c_cpp_properties.json
  CHANGELOG.md
  CMakePresets.json
  README.md
  native/git_branch.c
  native/io.c
  native/io.h
  native/main.c
  native/registry.c
  native/registry.h
  native/tests/CMakeLists.txt
  native/tests/test_io.c
  native/tests/test_main.c
  native/tests/test_save_prefs.c
  native/tests/wrappers.c
  native/tests/wrappers.h
  src/LibPrefs.cs
  src/PSWinPrefs.dll-SavePreferences-help.ps1
  src/PSWinPrefs.dll-help.xml
  src/SavePreferences.cs
  src/WinPrefs.psd1
  src/WriteRegCommands.cs
  tests/SavePreferencesTest.cs
  tests/WriteRegCommandsTest.cs
Due: fix-formatting-markdown

workflows/codeql: set language
  .github/workflows/codeql.yml
Due: none

project: version bumps
  README.md
  SECURITY.md
  man/winprefs.1
Due: fix-formatting-markdown

tests: more coverage
  native/io.c
  native/registry.c
  native/tests/test_main.c
  native/tests/test_save_prefs.c
  native/tests/wrappers.c
Due: none

native/registry: fix oversight
  native/registry.c
Due: none

registry: fix heap corruption
  .github/workflows/tests.yml
  native/registry.c
Due: none

Bump version
  .wiswa.jsonnet
  CITATION.cff
  CMakeLists.txt
  README.md
  man/winprefs.1
  package.json
  src/WinPrefs.psd1
  vcpkg.json
Due: yarn-check-lock, fix-formatting-markdown
